{% extends 'ascensor/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">&nbsp;</div>
    <h3 class="Titulo">listado De Clientes</h3>
    <div class="row">&nbsp;</div>
    <div class="container-fluid ">
        <table class="table" id="cliente-tabla" >
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Región</th>
                <th scope="col">Comuna</th>
                <th scope="col">Telefono</th> 
                <th scope="col">Correo contacto</th>        
                <th scope="col">Crear Orden</th>     
            </tr>
            </thead>
            <tbody id="cuerpoTabla">
                {% for cliente in clientes %}
                <tr>
                    <td data-label="Nombre: &nbsp">{{cliente.nombre}}</td>
                    <td data-label="Dirección: &nbsp">{{cliente.direccion}}</td>
                    <td data-label="Región: &nbsp">{{cliente.region}}</td>
                    <td data-label="Comuna: &nbsp">{{cliente.comuna}}</td>
                    <td data-label="Telefono: &nbsp">{{cliente.telefono}}</td>
                    <td data-label="Correo contacto:&nbsp ">{{cliente.correo}}</td>
                    <td><i class="fas fa-edit text-success" title="Crear Orden" onclick="crearOrden('{{cliente.id}}')"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modalOrden" tabindex="-1" role="dialog" aria-labelledby="modalOrden" aria-hidden="true">
    </div>
{% endblock %}
{% block js %}
<script>
    function crearOrden(idCliente)
    {
        $.getJSON("{% url 'formOrdenes' %}?idCliente="+idCliente,function (resultado){
            $('#modalOrden').html(resultado['formulario']);
            $('#modalOrden').modal('show');
        });
    }
    
</script>
{% endblock %}